# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular data science languages
- Listing commonly used libraries by data scientists
- Listing popular data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|***Data Science Tools***|
|------------------------|
| Apache Spark           |
| Hadoop                 |
| Jupyter Notebook       |

### Below are a few examples of evaluating arithmetic expressions in Python
8-(2*7)

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

## Author
Muhammad Ahsan Adil